.catalog {
    padding-top: 104px;
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
}

.catalog_header {
    margin: 0;
    color: #000;
    font-family: Oswald;
    font-size: 76px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
}

.catalog_filter {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;

}

.catalog_filter-text {
    margin: 0;
    color: #000;
    font-family: Oswald;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 767px) {
    .catalog {
        padding-top: 32px;
        max-width: 360px;
        padding-left: 24px;
        padding-right: 24px;
    }
    
    .catalog_header {
        font-size: 20px;  
    }
    
    .catalog_filter {
        padding-top: 18px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 21px;
        
    }
    
    .catalog_filter-text {
        font-size: 16px;
    }

    .catalog_filter-text_size_big {
        grid-column-start: 1;
        grid-column-end: 3;    
    }

    .catalog_filter-text_size_big2 {
        grid-column-start: 3;
        grid-column-end: 5;     
    }

  }