.header {
    display: grid;
    max-width: 1440px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 66px ;
    grid-template-areas:
      ". logo lk"
      "nav . nav2";
    padding-top: 96px;
    padding-left: 64px;
    padding-right: 64px;
}

.header__nav {
   display: flex;
   color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 416px;
    justify-content: space-between;
    padding-top: 7px;
    grid-area: nav;
}

.header__nav_blok2 {
    display: flex;
    color: #000;
     font-family: Oswald;
     font-size: 20px;
     font-style: normal;
     font-weight: 300;
     line-height: normal;
     width: 416px;
     justify-content: space-between;
     padding-top: 7px;
     grid-area: nav2;
 }

.header__nav_menu {
    color: #000;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
}


.header__logo {
    width: 180px;
    height: 209px;
    grid-area: logo;
    grid-row: 1 / 3;
    justify-self: center;
}

.header__burger {
    display: none;
    grid-area: burger;
}

.header__lk {
    display: flex;
    justify-content: end;
    padding-top: 32px;
    grid-area: lk;
    height: 66px;
}

.header__lk_logo {
    width: 33px;
    height: 33px;
    padding-right: 14px;
}

@media (max-width: 767px) {

    .header {
        max-width: 360px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 28px ;
        grid-template-areas:
          "burger logo lk";
        padding-top: 16px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .header__nav {
        position: fixed;
        left: -100%;
        transition: all 0.3s ease 0s;
    }

    .header__menu_active {
        display: block;
         width: 261px;
         justify-content: space-between;
         padding-top: 7px;
         grid-area: nav;
         position: relative;
         z-index: 3;
         position: fixed;
         top: 15px;
         left: 0;
         width: 50%;
         height: 45%;
         background-color: #DDC294;
         border-radius: 10px;
         border-color: #8F663E;
         border-width: 3px;
         padding-top: 71px;
         padding-left: 38px;   
    }
    
    .header__nav_blok2 {
        position: fixed;
        left: -100%;
        transition: all 0.3s ease 0s;
     }

    .header__menu_active2 {
        display: block;
        width: 261px;
        justify-content: space-between;
        padding-top: 11px;
        grid-area: nav2;
        z-index: 3;
        position: fixed;
        top: 150px;
        left: 0;
        width: 50%;
        height: 45%;
        background-color: #DDC294;
        padding-top: 12x;
        border-radius: 10px;
       padding-left: 38px;   
     }

    .header__nav_menu {
        color: #000;
        font-family: Oswald;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        height: 37px;
    }    
    
    .header__logo {
        width: 79px;
        height: 92px;
        grid-area: logo;
        grid-row: 1 / 3;
        justify-self: center;
    }
    
    .header__burger {
        display: block;
        grid-area: burger;
        padding-top: 15px;
        position: relative;
        z-index: 4;
    }
    
    .header__lk {
        display: flex;
        justify-content: end;
        padding-top: 15px;
        grid-area: lk;
        height: 68px;
    }
    
    .header__lk_logo {
        width: 28px;
        height: 28px;
        padding-right: 14px;
    }

  }
